src/main/webapp/WEB-INF/wsdl/pingsvc.wsdl

<?xml version="1.0" ?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://ping.test.invalid" targetNamespace="http://ping.test.invalid"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ping.test.invalid" elementFormDefault="qualified">
      <xsd:element name="req" type="tns:reqType" />
      <xsd:element name="rsp" type="tns:rspType" />

      <xsd:complexType name="reqType">
        <xsd:sequence>
          <xsd:element name="param0" type="xsd:string" />
          <xsd:element name="param1" type="xsd:string" />
          <xsd:element name="param2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="rspType">
        <xsd:sequence>
          <xsd:element name="param0" type="xsd:string" />
          <xsd:element name="param1" type="xsd:string" />
          <xsd:element name="param2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:req" />
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:rsp" />
  </wsdl:message>
  <wsdl:portType name="Ping">
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest" />
      <wsdl:output name="pingResponse" message="tns:pingResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ping" type="tns:Ping">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <wsdlsoap:operation soapAction="http://ping.test.invalid/ping" />
      <wsdl:input name="pingRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PingSvc">
    <wsdl:port name="PingPort" binding="tns:ping">
      <wsdlsoap:address location="http://localhost:8080/crypto-coverage-test/ping" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>